language: java
sudo: false
before_install:
 - chmod +x gradlew
install: true
addons:
  sonarcloud:
    organization: "jendoliver-github"
    token:
      secure: ${SONAR_TOKEN}
jdk:
  - oraclejdk8
script:
  - ./gradlew sonarqube
  - sonar-scanner
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    - '$HOME/.gradle'
    - '.gradle'
